
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
	font-size: 15px;
	background-color: hsl(233, 47%, 7%);
	font-family: 'Inter', sans-serif;
	position:relative;
}
.card {
	display: flex;
	flex-direction: row-reverse;
	background-color: hsl(244, 38%, 16%);
	color: hsla(0, 0%, 100%, 0.75);
	border-radius: 10px;
	margin: 5em; 
	min-height: 70vh;
}
.mobile{
	display: none;
}
.desktop {
	width: 100%;
}
.paragraph {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 60px 80px 60px 60px;
}
.paragraph h1{
	color: hsl(0, 0%, 100%);
	padding-bottom: 25px;
}
.paragraph h1 span {
	color:hsl(277, 64%, 61%);
}
.about {
	width: 85%
}
.statcontainer {
	display: flex;
	flex-direction: row;
	width: 80%;
	padding-top: 145px;
	justify-content: space-between;
}
.images {
	width: 50%;
	background-color: hsl(277, 64%, 61%);
	border-radius: 0 10px 10px 0;
	overflow: hidden;
}
.picture {
	mix-blend-mode: multiply;
	height: 100%;
}
.stat h2 {
	color: hsl(0, 0%, 100%);
}
.stat p {
	margin-top: 5px;
		text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
}
.attribution { 
	font-size: 11px; 
	text-align: center; 
	position: relative; 
	color: hsl(0, 0%, 100%);
}
.attribution a { 
	color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 660px) {
body {
	height: 135vh;
}
.card {
	display: flex;
	flex-direction: column;
	position:absolute;
  	left: 0; right: 0;
	width: 90%;
	margin: 5em 1.2em auto 1.2em;
}
 .mobile {
 	display: block;
 	width: 100%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
 }
.desktop {
	display: none;
}

.paragraph {
	text-align: center;
	width: 100%;
	padding: 20px;
}
.paragraph h1{
	margin-bottom: 10px;
}
.images {
	width: 100%;
	border-radius: 10px 10px 0 0;

}
.paragraph p {
	line-height: 1.5em;
}

.statcontainer {
	text-align: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: 20px;
	justify-content: center;
}
.about {
	width: 100%;
}
.stat {
	margin-bottom: 2em;
}
.stat h2 {
	margin-bottom: 0;
}
.attribution {
	top: 130vh;
}
}
